In [3]:
import numpy as np
import pandas as pd

NameError: name 'ls' is not defined

In [4]:
ls

 Volume in drive C has no label.
 Volume Serial Number is CA46-F45B

 Directory of C:\Users\priya\Desktop\Spatial\SpatialAnalyticsProject_NYUCUSP

12/07/2015  05:55 PM    <DIR>          .
12/07/2015  05:55 PM    <DIR>          ..
12/07/2015  05:55 PM    <DIR>          .ipynb_checkpoints
12/03/2015  08:18 PM                 0 .Rhistory
12/03/2015  08:18 PM           733,371 311extract.csv
12/03/2015  08:18 PM             1,626 brainstorm.txt
12/07/2015  05:53 PM         7,607,149 dataForGeocoding.csv
12/03/2015  08:18 PM         1,609,234 datascientist_mantra.jpg
12/07/2015  03:49 PM             9,669 Inspection.ipynb
12/06/2015  05:19 PM         3,839,595 inspections_clean.csv
12/03/2015  08:18 PM             1,497 MEETING2.md
12/03/2015  08:18 PM         1,501,589 nyc-pediacities-neighborhoods-v3-polygon.geojson
12/03/2015  08:18 PM               504 README.md
12/03/2015  08:09 PM               806 Spatial Discussion for.txt
12/07/2015  05:54 PM            22,825 Trial.ipynb
12/07/2015  05:55 PM                72 Untitled.ipynb
12/06/2015  06:17 PM             2,293 Untitled1.ipynb
12/07/2015  04:02 PM             9,347 yelp.ipynb
12/03/2015  06:48 PM             1,576 yelp.py
              16 File(s)     15,341,153 bytes
               3 Dir(s)  210,840,010,752 bytes free

In [5]:
data = pd.read_csv('dataForGeocoding.csv')

In [7]:
from geopy.geocoders import Nominatim
geolocator = Nominatim()
geolocator.geocode('189 BEACH 116TH ST, QUEENS, New York 11694')

Location((40.5794799796, -73.8371322245, 0.0))

In [9]:
path = 'dataForGeocoding.csv'
data = pd.read_csv(path)
from geopy.geocoders import Nominatim
geolocator = Nominatim()
data['latlon'] = 0
for i in data['ADDRESS'].index[:10]:
    try:
        loc = geolocator.geocode(data['ADDRESS'][i])
        data['latlon'][i] = (loc.latitude, loc.longitude)
    except:
        data['latlon'][i] = 'ERROR'

In [10]:
data.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,CUISINE DESCRIPTION,GRADE,SCORE,MONTH,STREET_ADDRESS,add,str,ADDRESS,latlon
0,0,0,0,30075445,MORRIS PARK BAKE SHOP,BRONX,1007,MORRIS PARK AVE,10462,Bakery,A,2,3,1007 MORRIS PARK AVE,"1007 MORRIS PARK AVE, BRONX, New York 10462",MORRIS PARK AVE,"1007 MORRIS PARK AVE, BRONX, New York 10462",0
1,1,1,1,30112340,WENDY'S,BROOKLYN,469,FLATBUSH AVENUE ...,11225,Hamburgers,A,8,12,469 FLATBUSH AVENUE ...,"469 FLATBUSH AVENUE, BROOKLYN, New York 11225",FLATBUSH AVENUE ...,"469 FLATBUSH AVENUE, BROOKLYN, New York 11225",0
2,2,6,6,30112340,WENDY'S,BROOKLYN,469,FLATBUSH AVENUE ...,11225,Hamburgers,B,23,7,469 FLATBUSH AVENUE ...,"469 FLATBUSH AVENUE, BROOKLYN, New York 11225",FLATBUSH AVENUE ...,"469 FLATBUSH AVENUE, BROOKLYN, New York 11225",0
3,3,12,12,30191841,DJ REYNOLDS PUB AND RESTAURANT,MANHATTAN,351,WEST 57 STREET ...,10019,Irish,A,2,9,351 WEST 57 STREET ...,"351 WEST 57 STREET, MANHATTAN, New York 10019",WEST 57TH STREET ...,"351 WEST 57TH STREET, MANHATTAN, New York 10019",0
4,4,13,13,40356018,RIVIERA CATERER,BROOKLYN,2780,STILLWELL AVENUE,11224,American,A,5,6,2780 STILLWELL AVENUE,"2780 STILLWELL AVENUE, BROOKLYN, New York 11224",STILLWELL AVENUE,"2780 STILLWELL AVENUE, BROOKLYN, New York 11224",0